@import url('https://fonts.cdnfonts.com/css/graphik');

* {
  text-decoration: none !important;
  font-family: 'graphik', 'sans-serif';
  
}

.navlocker {
  background-color: rgb(23 23 23);
}

.herodiv {
  background-image: linear-gradient(to right, #733a5e, #cc7873, #301b1f);
}

.hero1 {
  /* overflow: hidden !important; */
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  
}

.scrollbody {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbody::-webkit-scrollbar {
  display: none;
}

.no-outline:focus{
  outline: none;;
}

.MediaCardB {
  width: 200px !important;
 }
 .foot {
  background-color: whitesmoke;
 }
 .foot1{
  margin-right: 70px;
 }

 /* .border2{
  border: 2px solid black;
 } */

/* @media screen and (min-width: 992px) {
 .MediaCard {
  width: 300px!important;
  
 }
} */
@media screen and (min-width: 768px) {
 .MediaCard {
  width: 270px!important;
  
 }
  
} 

